<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<%= user.id %>
<a href="/auth/logout">Logout</a>

<form action="/api/project" method="post">
  <input type="text" name="name"/>
  <button type="submit">Envoyer</button>
</form>
</body>
</html>